In [1]:
from atakl.transform.kitsanelis import *

In [28]:
beth_file = "D:/.temp/.dev/akl/Κιτσανέλης_Ιούνιος_2021.xlsx"
filename = Path(beth_file).stem

a = Kitsanelis(f"{beth_file}@Διανομή",
               "D:/.temp/.dev/akl/Region_Costs.xlsx",
               f"D:/.temp/.dev/akl/{filename}_Processed.xlsx",
               mode="CLI")

og = pd.read_excel(beth_file, sheet_name='Διανομή')[["Κωδικός Παραγγελίας", "Σύνολο Χρέωσης Διανομής"]]

In [3]:
a.process()
a.export()

[INFO] - Processing...
[INFO] - Data Process Complete: [308] records

[INFO] - Saving data...
[INFO] - Exported file: D:/.temp/.dev/akl/Κιτσανέλης_Ιούνιος_2021_Processed.xlsx

In [9]:
merged = a.check_data.merge(og, left_on="Κωδικός_Παραγγελίας", right_on="Κωδικός Παραγγελίας").drop(["Κωδικός Παραγγελίας", "Τελική_Χρέωση"], axis=1).rename(columns={"Σύνολο Χρέωσης Διανομής": "Bethani"})
merged['diff'] = merged['Bethani'] - merged["Σύνολο_Χρέωσης_Διανομής"]
merged['diff'] = merged['diff'].round(2)
merged.to_excel(f"D:/.temp/.dev/akl/{filename}_Check.xlsx")

In [29]:
a.data

,Κωδικός_Παραγγελίας,Κωδικός_Αρχικής_Παραγγελίας,Ημερομηνία_Παράδοσης,Δελτίο_Αποστολής,Επωνυμία_Πελάτη,Γεωγραφικός_Τομέας,Πόλη_Παράδοσης,Τρόπος_Αποστολής,Κιβώτια_Διαφημιστικού_Υλικού,Κιβώτια_Χυμοί,Κιβώτια_6φιαλών,Κιβώτια_12φιαλών,Ξύλα_παλετών
0,PAL-025116,W130039,2021-06-01,ΑΣΠ1063409,HORECA DEALS ΜΟΝ/ΠΗ Ι.Κ.Ε,ΝΗΣΙΑ ΑΙΓΑΙΟΥ-ΕΚΤΟΣ ΔΩΔΕΚΑΝΗΣΑ,ΣΑΝΤΟΡΙΝΗ,ATLOG,0.0,0.0,0.0,0.0,1.0
1,W130039,NaN,2021-06-01,ΑΣΠ1063420,HORECA DEALS ΜΟΝ/ΠΗ Ι.Κ.Ε,ΝΗΣΙΑ ΑΙΓΑΙΟΥ-ΕΚΤΟΣ ΔΩΔΕΚΑΝΗΣΑ,ΣΑΝΤΟΡΙΝΗ,ATLOG,0.0,0.0,35.0,40.0,NaN
2,PAL-025113,W130023,2021-06-01,ΑΣΠ1063406,OK ANYTIME ΑΕ,ΑΤΤΙΚΗ,ΜΑΡΚΟΠΟΥΛΟ,ATLOG,0.0,0.0,0.0,0.0,1.0
3,W130023,NaN,2021-06-01,ΑΣΠ1063411,OK ANYTIME ΑΕ,ΑΤΤΙΚΗ,ΜΑΡΚΟΠΟΥΛΟ,ATLOG,0.0,0.0,41.0,0.0,NaN
4,W130025,NaN,2021-06-01,ΑΣΠ1063413,ΑΡΧΙΛΟΧΟΣ ΣΥΜΜΕΤΟΧΩΝ ΑΕ,ΝΗΣΙΑ ΑΙΓΑΙΟΥ-ΕΚΤΟΣ ΔΩΔΕΚΑΝΗΣΑ,ΠΑΡΟΣ,ATLOG,0.0,0.0,0.0,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,W130561,NaN,2021-06-30,ΑΣΠ1066701,ΠΑΠΠΟΥ ΙΩΑΝΝΗΣ ΑΕ,ΔΩΔΕΚΑΝΗΣΑ,ΡΟΔΟΣ,ATLOG,0.0,0.0,26.0,0.0,NaN
304,PAL-026401,W130556,2021-06-30,ΑΣΠ1066697,ΦΡΑΝΤΖΕΣΚΟΣ ΙΩΑΝΝΗΣ ΑΕΒΕ,ΝΗΣΙΑ ΑΙΓΑΙΟΥ-ΕΚΤΟΣ ΔΩΔΕΚΑΝΗΣΑ,ΣΑΜΟΣ,ATLOG,0.0,0.0,0.0,0.0,1.0
305,W130556,NaN,2021-06-30,ΑΣΠ1066700,ΦΡΑΝΤΖΕΣΚΟΣ ΙΩΑΝΝΗΣ ΑΕΒΕ,ΝΗΣΙΑ ΑΙΓΑΙΟΥ-ΕΚΤΟΣ ΔΩΔΕΚΑΝΗΣΑ,ΣΑΜΟΣ,ATLOG,0.0,0.0,0.0,20.0,NaN
306,PAL-026404,W130539,2021-06-30,ΑΣΠ1066692,ΧΑΝΤΖΙΑΡΑΣ ΙΩΑΝΝΗΣ & ΣΙΑ ΕΕ,ΜΑΚΕΔΟΝΙΑ,ΚΟΖΑΝΗ,ATLOG,0.0,0.0,0.0,0.0,1.0
307,W130539,NaN,2021-06-30,ΑΣΠ1066694,ΧΑΝΤΖΙΑΡΑΣ ΙΩΑΝΝΗΣ & ΣΙΑ ΕΕ,ΜΑΚΕΔΟΝΙΑ,ΚΟΖΑΝΗ,ATLOG,0.0,0.0,0.0,16.0,NaN

In [21]:
v = pd.read_excel(beth_file, sheet_name='Διανομή')

In [30]:
v = a.data.copy()

In [31]:
v['kivotia_sum'] = a.data[kivotia_diafimistikou] + v[kivotia_ximou] + v[kivotia_6fialon] + v[kivotia_12fialon]

In [50]:
must_pals = v.loc[v['kivotia_sum'] > 10, [kodikos_paraggelias]]

In [51]:
must_pals

    Κωδικός_Παραγγελίας
1               W130039
3               W130023
10              W130043
13              W130042
15              W130032
..                  ...
299             W130543
301             W130562
303             W130561
305             W130556
307             W130539

[121 rows x 1 columns]

In [52]:
pals = v.loc[v[kodikos_paraggelias].str.startswith('PAL', na=False)][kodikos_arxikis_paraggelias]
pals

0      W130039
2      W130023
9      W130043
12     W130042
14     W130032
        ...
296    W130540
300    W130562
302    W130561
304    W130556
306    W130539
Name: Κωδικός_Αρχικής_Παραγγελίας, Length: 116, dtype: object

In [53]:
result = must_pals.merge(pals, how='left', left_on=kodikos_paraggelias, right_on=kodikos_arxikis_paraggelias)

In [56]:
result.loc[result[kodikos_arxikis_paraggelias].isna(), kodikos_paraggelias]

15     W130095
32     W130180
38     W130193
49     W130230
84     W130413
117    W130543
Name: Κωδικός_Παραγγελίας, dtype: object

In [ ]:
s = pd.read_excel(beth_file, sheet_name='Stock Out')[["Κωδικός Παραγγελίας", "Ατόφια Παλλέτα"]].rename(columns={"Κωδικός Παραγγελίας": kodikos_paraggelias, "Ατόφια Παλλέτα": atofia_paleta})

In [ ]:
pals_only = s.loc[s[atofia_paleta] > 0]
pals_only[atofia_paleta] = pals_only[atofia_paleta].astype(int)
pals_only

In [ ]:
merged = a.data.merge(pals_only, how='left', left_on="Κωδικός Παραγγελίας", right_on="Κωδικός_Παραγγελίας")
merged[atofia_paleta] = merged[atofia_paleta].fillna(0).astype(int)
merged

In [ ]:
merged.dtypes